.btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  padding: 21px 41px;
  text-transform: uppercase;
  background: #FEDB3F;
  border-radius: 100px;
  border: none;
  color: black;


  &:hover {
    color: #FEDB3F;
    background: #000;
  }

  &--theme--transparent {
    background: none;
    color: white;
    border: none;
    margin-left: 22px;
  }
}