.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 4px;
}
.form__block {
  flex: 1;
  margin-right: 17px;
  &:last-child {
    margin-right: 0;
  }
}
.form__input {
  width: 100%;
  padding: 18px 11px;
  border-radius: 4px;
  // border: 3px solid #FEDB3F;
  border: 3px solid transparent;
  &:focus {
    border-color: #FEDB3F;
    outline: none;
  }
}
.form__input--textarea {
  height: 168px;
  resize: none;
  width: 450px;
}

.form__title {
  color: white;
}