.order-section {
  background: url('../../img/content/order-bg.png'), #2B2B2B;
  background-blend-mode: overlay;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
.order__title {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;

}